* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;
  padding-top: 29px;
}

.header_logo {
  background: url(./img/logo.jpg) no-repeat;
  width: 140px;
  height: 22px;
  margin: 0 296px 0 165px;
}

.header__nav {
  display: flex;
  gap: 60px;
}

.header__nav--search-cabinet {
  display: flex;
  gap: 30px;
}

.header__nav-link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  color: #4C5866;
}

.header__nav-search {
  background: url(./img/Search.png);
  width: 24px;
  height: 24px;
  color: #4C5866;
}

.header__nav-cabinet {
  background: url(./img/log_in.png);
  width: 24px;
  height: 24px;
}
